{% extends 'att_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class= "content-section">

{% for post in mohit %}


<article class="media content-section">   

<img src="{{ post.author.profile.image.url }}" class="rounded-circle" alt="UserProfilePic" width="100" height="100"> 
<div class="media-body">
<div class="article-metadata">

<p> <h4>{{ post.author }}</h4>  on {{ post.date1|date:"d-F-Y" }} </h4>
</p>
</div>
<h2>{{ post.title }} </h2>
 <p >{{ post.content}}</p>


 </article>
 {% endfor %}

	</div>


{% if page_obj.has_previous %}

<a href="?page={{ page_obj.previous_page_number }}">Previous </a>

{% endif %}

<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}   </span>

{% if page_obj.has_next %}

<a href="?page={{ page_obj.next_page_number }}">Next </a>

{% endif %}


{% endblock %}