{% extends 'att_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<div class= "content-section">

{% for post in mohit %}

<div class="container mt-3">

  <div class="media border p-3">
    <img src="{{ post.author.profile.image.url }}" alt="{{ post.author }}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4> <a href="{% url 'user-posts' post.author %}"> {{ post.author }}</a> <small><i>Posted on {{ post.date1|date:"d-F-Y" }}</i></small></h4>
      <h2>{{ post.title }} </h2>
      <p >{{ post.content|safe|truncatewords:"50"|linebreaks}}</p>
      <a href="{% url 'post-sp' post.id %}"> read more </a>    
    </div>
  </div>
</div>
</div>
 {% endfor %}






{% if page_obj.has_previous %}

<a href="?page={{ page_obj.previous_page_number }}">Previous </a>

{% endif %}

<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}   </span>

{% if page_obj.has_next %}

<a href="?page={{ page_obj.next_page_number }}">Next </a>

{% endif %}


{% endblock %}