{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">


<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/">Home</a>
  <ul class="navbar-nav">
          <a class="navbar-brand" href="{% url 'display-master'%}">Master Data</a>
      <a class="navbar-brand" href="{% url 'att'%}">Mark Present</a>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="navbar-brand" href="{% url 'att-masterdata'%}">Add Data</a>

      <a class="navbar-brand" href="{% url 'profile'%}">Profile</a>

      <a class="navbar-brand" href="{% url 'check-att'%}">Att of student</a>    
      
      <a class="navbar-brand" href="{% url 'check-attAll'%}">Att ALL</a>
       <a class="navbar-brand" href="{% url 'post-create'%}">Post</a>

      <a class="navbar-brand" href="{% url 'Logout'%}">Logout</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'Login'%}">Login</a>
    </li>
    {% endif %}
  </ul>
</nav>

<main role="main" class="container">
<div class= "row">
<div class="col-md-8">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}

</div>
</div>
</main>
{% block content %}

{% endblock %}

</body>
</html>


